
.body {
    margin: 0;
    padding: 0;
}

.header__background{
    background-color: #caf0f8;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: linear-gradient(#caf0f8 , #48cae4);
}

.header__logo{
    width: 50px;
    height: 50px;
}

.header__titulo{
    color: #03045e;
    text-align: center;
    font-size: 200%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.header__lista{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: end;
}
.header__titulo--items{
    color:#03045e;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-style: none;
    border-radius: 5px;
    background-color: #c3eef8;
    text-align: center;
    margin-right: 10px;
    height: 25px;
    width: 95px;
    filter: grayscale(0%);
}

.links__sindecorar{
    text-decoration: none;
}

.header__titulo--items:hover{
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: all 0.2s;
    background-color: #a6a7a8;
}

.main__background{
    background-color: #48cae4;
    background-image: linear-gradient( #48cae4, #caf0f8);
    margin: 0%;
    width: 100%;
    padding-top: 2rem;
}




.main__div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    height: 600px;
}
.main__div--p{
    color:#03045e;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding-bottom: 2rem;
    padding-top: 1rem;

}

.main__divnoticias{
    padding-top: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
}

.main__divnoticias--titulo{
    color:#03045e;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.main__divnoticias--titulo2{
    color:#03045e;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 130%;
}

.main__divnoticias--descrip{
    text-align: justify;
}





.contacto__div{
    height: 700px;
    overflow: hidden;
}

.contacto__form--fieldset{
    position: relative;
    background-color: #48cae4;
    display: grid;
    grid-template-columns: auto;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    width: 50%;
}

.contacto__form--legend{
    text-align: center;
}
.contacto__form--nombre{
    display: flex;
    justify-content: center;
}

.contacto__form--enviar{
    margin-right: 35%;
    font-size: 100%;
}
.contacto__form--borrar{
    font-size: 100%;
}
.contacto__form--padding{
    margin-bottom: 3rem;
}








.equipo__main--div{
    background-color: #48cae4;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    background-image: linear-gradient( #48cae4, #caf0f8);
}

.equipo__main--subdiv{  
    padding-left: 3rem;
    padding-bottom: 2rem;
}

.equipo__main--nombre{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #03045e;
    font-size: 120%;
    font-weight: bolder;
    padding-left: 2rem;
}

.equipo__main--descripcion{
    align-self: center;
    justify-self: center;
    padding-left: 1rem; 
    border: solid 2px black;
    margin-left: 2rem;
    background-color: #caf0f8;
    margin-right: 2rem;
    padding-right: 1rem;
}


.servicio__main--p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #03045e;
    font-size: 120%;
    font-weight: bolder;
}

.servicio__main--imagenes{
    width: 500px;
    height: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-self: center;
}
.servicio__main--padb{
    padding-bottom: 3rem;
}

.scale-up-center:hover {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.200) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.200) both;
}
@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
  }
  

.sucursales__background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    padding-bottom: 3rem;
}

.sucursales_titulo{
    font-size: 200%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #03045e;
    font-weight: bolder;
}
.sucursales__mapa{
    justify-content: center;
}
.sucursales_tabla{
    margin: auto;
    width: 60%;
}


.footer__cambio{
    background-color: #48cae4 ;
    width: 100%;
    background-image: linear-gradient( #48cae4, #caf0f8)
}
.footer__background{
    background-color: #caf0f8;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 200px;
}

.footer__lista{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10%;
    justify-content: center;
    height: auto;
}

.footer__lista--div{
    display: flex;
    flex-direction: column;
}

.footer__titulos{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #03045e;
    font-size: 110%;
    font-weight: bold;
}
.footer__items{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #03045e;
    font-size: 110%;
    padding-top: 7%;
    text-decoration: none;
}

.footer__items2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #03045e;
    font-size: 110%;
    padding-top: 7%;
    text-decoration: none;
}

.footer__items--redes{
    width: 25px;
    height: 25px;
    padding-right: 2px;
}

.footer__logo{
    height: 25px;
    width: 25px;
}

.footer__items:after{
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 0%;
      position: relative;
      background: rgb(8, 8, 8);
      transition: width 0.7s ease 0s, left 0.7s ease 0s;
      width: 0;
}
.footer__items:hover::after{
    width: 100%; 
    left: 0; 
}

@media screen and (max-width: 1024px) {
    .main__div--p{
        font-size: 150%;
    }
    .footer__items--redes{
        width: 35px;
        height: 35px;
    }
    .equipo__main--nombre{
        font-size: 150%;
    }
    .contacto__form--legend{
        font-size: 170%;
    }
    .contacto__form--nombre{
        font-size: 130%;
    }
    .contacto__form--comentario{
        width: 800px;
        height: 300px;
    }
    .contacto__form--label{
        font-size: 130%;
    }
    .contacto__form--enviar{
        font-size: 100%;
    }
    .contacto__form--p2{
        font-size: 130%;
    }
    .header__titulo--li{
        display: table;
        justify-content: center;
        margin: 3px;
        border-radius: 10px;
        justify-content: center;
        background-color: #c1eff8;
        text-align: center;
        border: #c1eff8;
    }
}

@media screen and (max-width: 768px){

    .header__titulo--li{
        display: table;
        justify-content: center;
        margin: 3px;
        border-radius: 10px;
        justify-content: center;
        background-color: #c1eff8;
        text-align: center;
        border: #c1eff8;
    }
    .equipo__main--div{
        display:flex ;
        flex-direction: column;
    }
    .equipo__main--nombre{
        text-align: center;
        align-items: center;
    }
    .sucursales_titulo{
        text-align: center;
    }
    .footer__background{
        width: 100%;
        height: auto;
    }
    .contacto__form--comentario{
        width: 600px;
        height: 200px;
    }
    .footer__lista{
        padding-bottom: 20px;
    }
}


@media screen and (max-width: 425px) {
    .header__titulo{
        font-size: 140%;
    }
    .header__logo{
        width: 20px;
        height: 20px;
    }
    .header__titulo--li{
        display: table;
        justify-content: center;
        margin: 3px;
        border-radius: 10px;
        justify-content: center;
        background-color: #c1eff8;
        text-align: center;
        border: #c1eff8;
    }
    .contacto__form--fieldset{
        width: 10px;
    }

    .equipo__main--div{
        display:flex ;
        flex-direction: column; 
    }
    .equipo__main--nombre{
        text-align: center;
        align-items: center;
    }
    .equipo__main--subdiv{
        padding: 0%;
        margin: 0%;
    }
    .equipo__main--descripcion{
        margin-top: 20px;
    }
    .servicio__main--imagenes{
        position: relative;
        justify-content: center;
        width: 70%;
        padding-left: 10%;

    }
    .sucursales_titulo{
        text-align: center;
    }
    .sucursales_direcciones{
        border-width: 2px;
    }
    .sucursales__mapa{
        width: 90%;
    }

    .footer__lista{
        display: grid;
        grid-template-columns: auto;
    }
    .footer__background{
        width: 100%;
        height: auto;
    }

    .contacto__form{
        width: 100%;
    }
    .contacto__form--fieldset{
        width: 100%;
    }
    .contacto__form--comentario{
        width: 90%;
        height: 150px;
    }
    .contacto__form--box{
        margin-left: 1px;
        width: 50%;
        height: 30px;
    }
    .main__div--video{
        width: 90%;
        height: 300px;
    }
    .contacto__form--enviar{
        font-size: 80%;
    }
    .contacto__form--borrar{
        font-size: 80%;
    }
    .contacto__form--p{
        margin: 0px;
    }
    
    .main__divnoticias{
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }

}
