.header__logo{
    width: 50px;
    height: 50px;
}

.header__titulo--items{
    font-family: 'Gill Sans';
    font-size: large;
    color: white;
}

.header__lista{
    width: 100%;
}
.header__titulo--items:hover{
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: all 0.4s;
    background-color: #a31f85;
    border-style: solid;
    border-width: 2px;
    border-color: #f0d02e;
    border-radius: 20px;
}