.sucursales__background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    padding-bottom: 3rem;
}

.sucursales_titulo{
    font-size: 200%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #03045e;
    font-weight: bolder;
}
.sucursales__mapa{
    justify-content: center;
}
.sucursales_tabla{
    margin: auto;
    width: 60%;
}

    
 tr:hover {
    background-color: rgba(183, 216, 63, 0.815);
    font-weight: bold;
}
    
    
tr:hover .seleccionado {
    background-color: rgb(107, 196, 238);
    font-weight: bold;
}