.servicio__main--p{
  display: block;
    opacity: 0;
    font-size: 40px;
    text-decoration: none;
    font-family: 'Gill Sans';

}
.padding__content{
  padding-bottom: 2rem;
}
.servicio__main--imagenes{
    display: flexbox;
    width: 500px;
    height: 250px;
    justify-self: center;
    padding: 0%;
    line-height: 250px;
}

.servicio__main{
    width: 100%;
}
.servicio__div{
    width: 50%;

}

.bg__gatos{
  background-image: url(../../../img/Serviciogato.jpg);
  background-size:contain;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
}

.bg__perros{
  background-image: url(../../../img/servicioperro.jpg);
  background-size:contain;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
}

.bg__aves{
  background-image: url(../../../img/Serviciosaves.jpg);
  background-size:contain;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
}
.bg__reptiles{
  background-image: url(../../../img/Servicioreptiles.jpg);
  background-size:contain;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
}
.bg__peces{
  background-image: url(../../../img/Serviciospeces.jpg);
  background-size:contain;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
}
.bg__otros{
  background-image: url(../../../img/Serviciosotros.jpg);
  background-size:contain;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
}


  .tracking-in-expand:hover {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            background-color: grey;
            color: white;
            width: 477px;
            height: 250px;
  }
  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 0.7;
    }
  }
  