.equipo__main--div{
    background-color: #48cae4;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    background-image: linear-gradient( #48cae4, #caf0f8);
}

.equipo__main--subdiv{  
    padding-left: 3rem;
    padding-bottom: 2rem;
}

.equipo__main--nombre{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #03045e;
    font-size: 120%;
    font-weight: bolder;
    padding-left: 2rem;
}

.equipo__main--descripcion{
    align-self: center;
    justify-self: center;
    padding-left: 1rem; 
    border: solid 2px black;
    margin-left: 2rem;
    background-color: #caf0f8;
    margin-right: 2rem;
    padding-right: 1rem;
}
